body{
    margin: 0px;
}
#mm{
    width: 55px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
select{
    border: none;
    
}
select:focus{
    outline: none;
}
#lp{
    background-color: rgb(240,240,240);
    border: none;
    width: 500px;
    height: 40px;
    border-radius: 9px;
}
#lp:focus{
    outline: none;
}
.mai{
    padding-top: 30px;
    
}
.mai1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#sear{
    width:20px;
    
    
}
#bit{
    border: none;
    transform: translate(-50px);    
}
#h{
    font-size: 50px;
}
#hh{
    font-size: 18px;
    transform: translateY(-30px);
    color: #b88adc;
}
.mai2{
display: flex;
flex-direction: column;
align-items: center;
}
#ip{
    width: 60px;
    /* padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 14px; */
}
#llp{
    
    border: none;
    /* background-color: #b88adc; */
    background-color: white;
    
}
.mai22{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#p1{
    font-weight: 700;
    font-size: 23px;
    transform: translate(340px);
}
 
.oiu{
    padding-left: 40px;
}
hr{
    width: 525px;
    transform: translate(65px,-35px);
    background-color: #fbfbfb;
}
#lis,#p2{
    color: rgb(192, 190, 190);
}
#p2{
    font-size: 18px;
    font-weight: 500;
}
/* li{
    color: black;
} */
li{
    color: rgb(227, 85, 227);
}
li span{
    color: black;
}
#p3{
    color: rgb(250, 1, 250);
    font-weight: 600;
    font-size: 18px;
}
.syn{
    display: flex;  
    flex-direction: row;
    justify-content: center;
}
.sy{
    display: flex;
    flex-direction: row;
}
#p3{
    padding-left:10px;
}
.mean{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}